<!DOCTYPE = html>
<html>
    <head>
        <title>{{Blog}}</title>
        <style>
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            nav a {
                margin: 5px;
            }
            .account {
                float: right;
            }
            .title {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav>
            <a class="account" href='/logout'>Logout</a>
            <a class="account" href='/login'>Login</a>
            <a href='/'>Home</a>
            <a href='/blog'>Blog Posts</a>
            <a href='/newpost'>Add A Blog Entry</a>
        </nav>
        <br>
        {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}
        <h2 class="title">{{page_title}}</h2>
        {% block content %}
        {% endblock %}
    </body>
</html>