<!--
     - User enters new, valid username, a valid password, and verifies password correctly and is redirected to the '/newpost' page with their username being stored in a session.
     - User leaves any of the username, password, or verify fields blank and gets an error message that one or more fields are invalid.
     - User enters a username that already exists and gets an error message that username already exists.
     - User enters different strings into the password and verify fields and gets an error message that the passwords do not match.
     - User enters a password or username less than 3 characters long and gets either an invalid username or an invalid password message.
-->
{% extends "base.html" %}
{% block content %}

    

{% endblock %}